include _mixins

block header
    header#header.header
        .container
            .header__inner
                a(href='#').header__logo
                    +img('logo.svg')
                .header__nav
                    .close-btn#closeBtn
                        +img('close.svg')
                    nav
                        ul
                            li
                                a(href='#concepts') О нас
                            li
                                a(href='#shops') магазины
                            li
                                a(href='#entertainments') рестораны и кафе
                            li
                                a(href='#others') развлечения
                            li
                                a(href='#scheme') СХЕМА ТЦ
                            li
                                a(href='#contacts') КОНТАКТЫ
                .header__actions
                    .header__call-button
                        button(data-fancybox data-src='#popup-request').btn заказать звонок
                    .header__call-image
                        +img('phone.svg')
                    .header__burger#headerMenuToggle
                        +img('menu.svg')