:root {
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray: #F6F6F6;
    --color-gray-2: #979797;
    --color-red: #E31E24;
    --color-red-hover: #BE191E;
}

$white: var(--color-white);
$black: var(--color-black);
$grey: var(--color-gray);
$grey-2: var(--color-gray-2);
$red: var(--color-red);
$red-hover: var(--color-red-hover);


