section:not(:first-of-type) {
  padding-top: 80px;

  @include breakpoint(md) {
    padding-top: 90px;
  }

  @include breakpoint(lg) {
    padding-top: 140px;
  }

  @include breakpoint(xl) {
    padding-top: 160px;
  }
}

.main__image {
  height: 510px;
  background-size: cover;
  background-position: center;
  position: relative;

  @include breakpoint(md) {
    height: 440px;
  }

  @include breakpoint(lg) {
    height: 540px;
  }

  @include breakpoint(xl) {
    height: 810px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(260deg, rgba(0, 0, 0, 0.00) 56.92%, rgba(0, 0, 0, 0.40) 97.39%), linear-gradient(187deg, rgba(0, 0, 0, 0.00) 38.45%, rgba(0, 0, 0, 0.80) 94.77%);
    pointer-events: none;
    z-index: 0;
  }

  img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.main__inner {
  color: $white;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;

  .main__text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: auto;

    @include breakpoint(md) {
      display: unset;
    }

    .main__location {
      @include flexAlignCenter;
      gap: 8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      text-decoration-line: underline;

      @include breakpoint(md) {
        float: left;
        max-width: 130px;
        flex-direction: column;
        gap: 4px;
        font-size: 16px;
        align-items: flex-start;
        margin-right: 2%;
      }

      @include breakpoint(lg) {
        font-size: 18px;
        max-width: 160px;
      }

      @include breakpoint(xl) {
        font-size: 20px;
      }

      svg {
        width: 20px;
        height: 20px
      }
    }

    .main__title {
      font-size: 28px;
      line-height: 100%; /* 52px */
      letter-spacing: -0.05em;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;

      @include breakpoint(md) {
        font-size: 52px;
        padding-top: 20px;
      }

      @include breakpoint(lg) {
        font-size: 90px;
        padding: 0;
      }
    }
  }

  .main__description {
    font-size: 16px;
    font-style: normal;
    line-height: 140%; /* 22.4px */
    max-width: 243px;
    margin-bottom: 56px;

    @include breakpoint(md) {
      margin-left: calc(100% / 12 * 6);
    }

    @include breakpoint(lg) {
      font-size: 18px;
      max-width: 276px;
    }

    @include breakpoint(xl) {
      font-size: 20px;
      max-width: 334px;
    }
  }
}


.concepts {
  .concepts__title {
    span {
      display: block;
      width: 100%;

      @include breakpoint(md) {
        margin-left: calc(100% / 12 * 6);
      }
    }
  }

  .concepts__items {
    display: grid;
    gap: 8px;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;

    @include breakpoint(md) {
      gap: 10px;
    }

    @include breakpoint(lg) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: unset;
      gap: 20px;
    }

    .concepts__item {
      display: grid;
      gap: 8px;
      justify-items: center;
      border: 1px solid $black;
      padding: 12px 0;

      @include breakpoint(md) {
        @include flexCenterCenter;
        gap: 14px;
        padding: 18px 0;
      }

      .item__image {
        width: 22px;
        height: 22px;
      }

      .item__text {
        width: min-content;
        text-align: center;
        color: #000;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.7px;
        text-transform: uppercase;

        @include breakpoint(md) {
          width: unset;
          font-size: 16px;
        }
      }
    }
  }

  .concepts__images {
    display: grid;
    grid-template-rows: repeat(3, 150px);
    gap: 8px;

    @include breakpoint(md) {
      grid-template-rows: repeat(2, 139px);
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include breakpoint(lg) {
      gap: 20px;
      grid-template-rows: repeat(2, 226px);
    }

    .concepts__image {
      img {
        object-fit: cover;
      }

      @include breakpoint(md) {

        &:first-child {
          grid-row: 1 / 3;
          grid-column: 1 / 2;
        }
      }
    }
  }
}


.base {
  &__grid {
    display: grid;
    gap: 20px;
    grid-auto-flow: row;

    @include breakpoint(md) {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 204px 186px;
      gap: 10px;
    }

    @include breakpoint(lg) {
      grid-template-rows: 219px 381px;
      gap: 20px;
    }

    @include breakpoint(xl) {
      grid-template-rows: 242px 440px;
    }


  }
}

.base__item {
  img {
    object-fit: cover;
  }

  &.base__item-text {
    @include breakpoint(md) {
      grid-row: 1 / 2;
      grid-column: 1 / 3;
    }

    ul.item__list {
      display: grid;
      gap: 16px;

      li {
        @include flexAlignCenter;
        color: $black;
        font-size: 14px;
        font-style: normal;
        line-height: 140%; /* 19.6px */

        @include breakpoint(lg) {
          font-size: 18px;
        }

        span {
          @include flexAlignCenter;
          gap: 10px;

          @include breakpoint(lg) {
            gap: 14px;
          }

          @include breakpoint(xl) {
            gap: 16px;
          }

          &::before {
            content: "";
            width: 20px;
            height: 20px;
            display: block;
            background-image: url("../../images/right-arrow.svg");
            background-repeat: no-repeat;
            background-size: contain;
            flex-shrink: 0;
          }
        }

        img {
          width: 16px;
          height: 16px;
        }
      }
    }
  }

  &.base__item-small {
    display: none;
    grid-row: 2 / 3;

    @include breakpoint(md) {
      display: block;
    }

    @include breakpoint(lg) {

    }

    &:first-child {
      grid-column: 1 / 2;
    }

    &:last-child {
      grid-column: 2 / 3;
    }
  }

  &.base__item-big {
    @include breakpoint(md) {
      grid-column: 3 / 5;
      grid-row: 1 / 3;
    }
  }
}

.about {
  margin-bottom: 80px;

  @include breakpoint(md) {
    margin-bottom: 90px;
  }
  @include breakpoint(lg) {
    margin-bottom: 140px;
  }
  @include breakpoint(xl) {
    margin-bottom: 176px;
  }

  &__grid {

    img {
      object-fit: cover;
    }

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include breakpoint(lg) {
      gap: 20px;
    }

    .about__text-items {
      display: grid;

      .text-item {
        border-top: 1px solid $black;
        padding: 14px 0;

        @include breakpoint(md) {
          padding: 18px 0;
        }

        @include breakpoint(lg) {
          padding: 20px 0;
        }

        &__title {
          font-size: 18px;
          font-style: normal;
          font-weight: 500;
          line-height: 100%; /* 18px */
          letter-spacing: -0.9px;
          text-transform: uppercase;
          margin-bottom: 8px;

          @include breakpoint(md) {
            font-size: 20px;
          }

          @include breakpoint(lg) {
            font-size: 24px;
            margin-bottom: 10px;
          }

          @include breakpoint(xl) {
            font-size: 26px;
            margin-bottom: 14px;
          }
        }

        &__description {
          font-size: 14px;
          font-style: normal;
          line-height: 140%; /* 19.6px */
        }

        &:last-child {
          border-bottom: 1px solid $black;
        }
      }
    }

    .about__image {
      display: none;

      @include breakpoint(md) {
        display: block;
        max-height: 100%;
        width: auto;
      }
    }
  }
}


.scheme {
  background: $gray;
  padding-bottom: 80px;

  @include breakpoint(md) {
    padding-bottom: 90px;
  }

  @include breakpoint(lg) {
    padding-bottom: 140px;
  }

  @include breakpoint(xl) {
    padding-bottom: 160px;
  }
}

.scheme__images {
  display: grid;
  grid-template-rows: minmax(0, 190px) minmax(0, 40px);
  width: 100%;
  gap: 8px;

  @include breakpoint(md) {
    grid-template-columns: 8fr 4fr;
    grid-template-rows: minmax(0, 190px);
    gap: 10px;
  }

  @include breakpoint(lg) {
    gap: 20px;
    grid-template-rows: minmax(0, 440px);
  }
  @include breakpoint(xl) {
    gap: 20px;
    grid-template-rows: minmax(0, 550px);
  }

  .scheme__images_main {
    position: relative;
    width: 100%;
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    @include breakpoint(md) {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }

    .search-icon {
      position: absolute;
      top: 14px;
      right: 14px;
      z-index: 2;
    }

    .floor-number {
      font-size: 14px;
      font-style: normal;
      line-height: normal;
      letter-spacing: -0.7px;
      text-transform: uppercase;
      position: absolute;
      top: 14px;
      left: 14px;
      z-index: 2;
    }

    .swiper-wrapper {

      .swiper-slide {
        cursor: zoom-in;
        @include flexCenterCenter;
        height: 100%;
        background: $white;
        padding: 14px;
      }
    }
  }

  .scheme__images_thumbs {
    width: 100%;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-auto-flow: column;
    height: min-content;

    @include breakpoint(md) {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      grid-auto-flow: row;
      height: unset;
    }

    @include breakpoint(lg) {

    }

    .swiper-wrapper {
      display: grid;
      grid-auto-flow: column;

      @include breakpoint(md) {
        grid-auto-flow: row;
      }

      .swiper-slide {
        background: $white;
        width: 100%;
        height: 100%;
        padding: 3px;
        cursor: pointer;

        @include breakpoint(md) {
          padding: 20px;
          @include flexAlignCenter;
          gap: 20px;
        }

        img {
          @include breakpoint(md) {
            object-fit: cover;
          }
        }

        .thumb-floor-number {
          display: none;

          @include breakpoint(md) {
            display: block;
            font-size: 12px;
            font-style: normal;
            letter-spacing: -0.6px;
            text-transform: uppercase;
            white-space: nowrap;
          }
        }

        &-thumb-active {
          border: 1px solid $black;
        }
      }
    }
  }
}

.write {
  &__inner {
    @include breakpoint(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__title {
    width: min-content;
  }

  .write__form {
    display: grid;
    gap: 8px;

    form {
      display: grid;

      .custom-text-area {
        height: 60px;

        @include breakpoint(md) {
          height: 70px;
        }
      }

      .form__bottom {
        margin-top: 20px;
        display: grid;
        gap: 8px;

        @include breakpoint(md) {
          gap: 14px;
          grid-template-columns: 3fr 9fr;
          align-items: center;
        }

        @include breakpoint(lg) {
          grid-template-columns: 4fr 8fr;
        }

        .write__agree {
          color: $gray-2;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 140%; /* 16.8px */
        }
      }
    }
  }
}

.contacts {
  padding-bottom: 80px;

  @include breakpoint(md) {
    padding-bottom: 90px;
  }

  @include breakpoint(lg) {
    padding-bottom: 140px;
  }

  @include breakpoint(xl) {
    padding-bottom: 160px;
  }

  &__inner {
    display: grid;
    gap: 20px;

    @include breakpoint(md) {
      gap: 25px;
    }

    @include breakpoint(xl) {
      gap: 30px;
    }
  }

  .contacts__items {
    .contacts__item {
      display: grid;
      padding: 14px 0;
      border-top: 1px solid $black;
      gap: 14px;
      grid-template-columns: 1fr;

      @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        padding: 18px 0;
        align-items: center;
      }

      @include breakpoint(lg) {
        padding: 22px 0;
      }

      &:last-child {
        border-bottom: 1px solid $black;
      }

      .contacts__title {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%; /* 24px */
        letter-spacing: -1.2px;
        text-transform: uppercase;

        @include breakpoint(md) {
          font-size: 24px;
          margin-bottom: 0;
        }

        @include breakpoint(lg) {
          font-size: 28px;
        }

        @include breakpoint(xl) {
          font-size: 32px;
        }
      }

      .contacts__text {
        @include flexAlignCenter;
        gap: 10px;

        &.contacts__text-location {
          align-items: baseline;

          .text__image img{
            margin-top: -5px;
          }

        }

        .text__block {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 120%; /* 16.8px */
          letter-spacing: -0.7px;
          text-transform: uppercase;

          p:last-child {
            font-style: normal;
            font-weight: 400;
            line-height: 140%; /* 19.6px */
            text-transform: none;
            margin-top: 10px;
          }
        }

        & ~ .contacts__text {
          margin-top: 10px;
        }
      }

      &.contacts__item-second {

        @include breakpoint(md) {
          grid-template-rows: repeat(2, 1fr);
          align-items: center;
        }

        .contacts__title {
          margin-bottom: 4px;

          @include breakpoint(md) {
            grid-row: 1 / 3;
            grid-column: 1 / 2;
            margin-bottom: 0;
          }
        }

        .contacts__text {
          margin-top: 0;
          @include breakpoint(md) {
            &:first-child {
              grid-row: 1 / 2;
              grid-column: 2 / 3;
            }

            &:last-child {
              grid-row: 2 / 3;
              grid-column: 2 / 3;
            }
          }
        }


      }


    }
  }

  .contacts__map {
    width: 100%;
    height: 250px;
    @include breakpoint(md) {
      height: 300px;
    }

    @include breakpoint(lg) {
      height: 456px;
    }

    @include breakpoint(xl) {
      height: 550px;
    }

    .map__wrapper {

      width: 100%;
      height: 100%;

      #map {
        width: 100%;
        height: 100%;

        .ymaps-2-1-79-map, .ymaps-2-1-79-inner-panes {

        }
      }
    }
  }

}