.main__image {
  height: 510px;
  background-size: cover;
  background-position: center;
  position: relative;

  @include breakpoint(md) {
    height: 440px;
  }

  @include breakpoint(lg) {
    height: 540px;
  }

  @include breakpoint(xl) {
    height: 810px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(260deg, rgba(0, 0, 0, 0.00) 56.92%, rgba(0, 0, 0, 0.40) 97.39%), linear-gradient(187deg, rgba(0, 0, 0, 0.00) 38.45%, rgba(0, 0, 0, 0.80) 94.77%);
    pointer-events: none;
  }

  img {
    object-fit: cover;
  }
}

.main__inner {
  position: absolute;
  color: $white;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main__text {
  position: absolute;
  bottom: 56px;
  color: $white;

  @include breakpoint(md) {

  }

  & > div {

    @include breakpoint(md) {
      display: flex;
      align-items: flex-end;
    }

    .text__location {
      @include flexAlignCenter;
      gap: 8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 140%; /* 19.6px */
      text-decoration-line: underline;
      margin-bottom: 10px;

      @include breakpoint(md) {
        flex-direction: column;
        gap: 4px;
        align-items: unset;
        max-width: 120px;
      }

      @include breakpoint(lg) {
        gap: 8px;
      }

      img {
        width: 16px;
        height: 20px;
      }
    }

    .text__title-first {
      @include breakpoint(md) {
        margin-left: 30px;
      }

    }
  }

  .text__title {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 28px */
    letter-spacing: -1.4px;
    text-transform: uppercase;

    @include breakpoint(md) {
      font-size: 52px;
      letter-spacing: -2.6px;
    }

    @include breakpoint(lg) {
      font-size: 90px;
      letter-spacing: -4.5px;
    }
  }

  .text__description {
    margin-top: 30px;
    width: 243px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */

    @include breakpoint(md) {
      width: 286px;
      margin-left: calc(50% + 10px);
    }

    @include breakpoint(lg) {
      font-size: 18px;
    }
  }
}


.shops__slider.swiper {
  .swiper-slide {
    //aspect-ratio: 1;
    //width: 560px;
    //height: 560px;
    //width: calc(100% / 12 * 3);
    &-active {
      //width: 688px;
      //height: 688px;
      //width: calc(100vw / 12 * 6);
      //height: 688px;
    }
  }
}

.shops__image {
  aspect-ratio: 1;
  //  height: 560px;
  .swiper-slide-active & {
    //height: 688px;
    aspect-ratio: 0.8;
  }

  transition: 1s
}
