include ../includes/_mixins
block popups

    // ПОПАП "ОСТАВИТЬ ЗАЯВКУ"
    #popup-request.popup
        .popup__request-form
            .popup__inputs
                .popup__input
                    input(type='text' placeholder='Ваше имя').input
                .popup__input
                    input(type='text' placeholder='Мобильный телефон*').input.phone-mask
            .popup__bottom
                button.btn(data-fancybox data-src='#popup-success-request') Отправить
                .popup__agree Нажимая на кнопку «Отправить», вы соглашаетесь с обработкой ваших персональных данных

    //// ПОПАП "УСПЕШНО - ОБРАТНЫЙ ЗВОНОК"
    #popup-success-request.popup.popup-success
        .popup__title Спасибо за обращение
        .popup__subtitle Мы свяжемся с вами в ближайшее время!