.header {
  padding: 10px 0;

  &__inner {
    @include flexCenterBetween;
  }

  &__logo {
    width: 79px;
    height: 32px;

    @include breakpoint(md) {
      width: 102px;
      height: 45px;
    }

    @include breakpoint(lg) {
      width: 146px;
      height: 65px;
    }
  }

  &__nav {
    position: fixed;
    transition-property: all;
    transition-duration: .5s;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    @include breakpoint(lg) {
      position: static;
      display: block;
    }

    ul {
      @include flexAlignCenter;
      gap: 40px;


      @include breakpoint(lg) {
        @include flexCenterCenter;
      }

      li {
        a {
          color: $black;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.7px;
          text-transform: uppercase;
        }
      }
    }

    .close-btn {
      width: 18px;
      height: 18px;
      display: none;
    }

    // Открытое меню
    &.active {
      position: fixed;
      display: flex;
      flex-direction: column;
      gap: 64px;
      background: $white;
      padding: 14px 10px;
      height: 100%;
      z-index: 2;

      @include breakpoint(md) {
        padding: 24px 20px;
      }

      ul {
        display: grid;
        gap: 28px;
        width: 100%;

        li a {
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
      }

      & + .header__actions {
        display: none;
      }

      .close-btn {
        align-self: self-end;
        width: 18px;
        height: 18px;
        display: inline-block;
      }
    }
  }

  &__call-button {
    display: none;

    @include breakpoint(md) {
      display: block;
    }
  }

  &__call-image {
    @include breakpoint(md) {
      display: none;
    }
  }

  &__actions {
    @include flexAlignCenter;
    gap: 24px;

    @include breakpoint(md) {
      gap: 36px;
    }

    .header__burger {
      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}