.header {
  padding: 10px 0;

  &__inner {
    @include flexCenterBetween;
  }

  &__logo {
    width: 79px;
    height: 32px;

    @include breakpoint(md) {
      width: 102px;
      height: 45px;
    }

    @include breakpoint(lg) {
      width: 146px;
      height: 65px;
    }
  }

  &__nav {
    display: none;
    position: absolute;
    transition: .5s ease;
    top: -100%;

    @include breakpoint(lg) {
      position: static;
      display: block;
    }

    ul {
      @include flexAlignCenter;
      gap: 40px;
      transition: transform .5s ease;

      li {
        a {
          color: $black;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.7px;
          text-transform: uppercase;
        }
      }
    }

    .close-btn {
      width: 18px;
      height: 18px;
      display: none;
    }



    // Открытое меню
    &.active {
      display: grid;
      gap: 64px;
      background: $white;
      padding: 14px 10px;
      position: absolute;
      top: 0;
      //left: 0;
      //right: 0;
      //bottom: 0;
      z-index: 1;
      transform: translateY(20px);
      transition: transform .5s ease;
      ul {
        display: grid;
        gap: 28px;
        width: 100%;

        li a {
          font-family: 'Inter', sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -1px;
          text-transform: uppercase;
        }
      }

      & + .header__actions {
        display: none;
      }

      .close-btn {
        justify-self: flex-end;
        width: 18px;
        height: 18px;
        display: inline-block;
        align-content: flex-end;
      }
    }
  }

  &__call-button {
    display: none;

    @include breakpoint(md) {
      display: block;
    }


  }

  &__call-image {
    @include breakpoint(md) {
      display: none;
    }
  }

  &__actions {
    @include flexAlignCenter;
    gap: 24px;

    @include breakpoint(md) {
      gap: 36px;
    }

    .header__burger {
      @include breakpoint(lg) {
        display: none;
      }
    }
  }
}