---
title: 'Страница | Страница не существует'
bodyClass: error-page
---

extends includes/_page

block main
    section.error
            .error__title 404
            .error__subtitle СТРАНИЦА НЕ НАЙДЕНА
            .error__description К сожалению, неправильно набран адрес, или такой страницы больше не существует