---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main
            .main__image
                +img('main.jpg')
                .main__inner
                    .container
                        .main__text
                            div
                                .text__location
                                    +img('location.svg')
                                    p Одна минута от м. Кузьминки
                                p.text__title.text__title-first ваше пространство
                            p.text__title.text__title-second для бизнеса и отдыха
                            p.text__description Уникальные возможности для арендаторов и незабываемые впечатления для посетителей







    //section.shops
    //    .shops__inner
    //        .shops__top
    //            .shops__title.section-title Магазины
    //    .shops__slider.swiper
    //        .swiper-wrapper
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //
    //
    //
    //