---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main
        .container








    //section.shops
    //    .shops__inner
    //        .shops__top
    //            .shops__title.section-title Магазины
    //    .shops__slider.swiper
    //        .swiper-wrapper
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //            .swiper-slide
    //                .shops__image
    //                    +img('2.jpg')
    //            .swiper-slide
    //                .shops__image
    //                    +img('3.jpg')
    //
    //
    //
    //
    //
    //