---
title: 'Страница | Главная'
bodyClass: main-page
//yandexMap: true
---

extends includes/_page

block main
    section.main
            .main__image
                +img('main.jpg')
                .main__inner
                    .container
                        .main__text
                            div
                                .text__location
                                    +img('location.svg')
                                    p Одна минута от м. Кузьминки
                                p.text__title.text__title-first ваше пространство
                            p.text__title.text__title-second для бизнеса и отдыха
                            p.text__description Уникальные возможности для арендаторов и незабываемые впечатления для посетителей

    section.concepts
        .container
            .concepts__inner
                .concepts__title.section-title
                    span социально значимый
                    p объект, в составе которого предусмотрено размещение следующих концепций
                .concepts__items
                    .concepts__item
                        .item__image
                            +img('desk.svg')
                        .item__text Офисные помещения
                    .concepts__item
                        .item__image
                            +img('pizza.svg')
                        .item__text ЗОНА РЕСТОРАНОВ
                    .concepts__item
                        .item__image
                            +img('gym.svg')
                        .item__text ФИТНЕС ЦЕНТР
                    .concepts__item
                        .item__image
                            +img('cart.svg')
                        .item__text СЕТЕВЫЕ РИТЕЙЛЕРЫ
                .concepts__images
                    .concepts__image
                        +img('concept-1.jpg')
                    .concepts__image
                        +img('concept-2.jpg')
                    .concepts__image
                        +img('concept-3.jpg')
    section.base
        .container
            .base__inner
                .base__title.section-title основа концепции
                .base__grid
                    .base__item.base__item-text
                        ul.item__list
                            li
                                +img('right-arrow.svg')
                                span Крупный продуктовый ритейлер - супермаркет «ДА»
                            li
                                +img('right-arrow.svg')
                                span Офисное пространство
                            li
                                +img('right-arrow.svg')
                                span Известные бренды одежды
                            li
                                +img('right-arrow.svg')
                                span Фитнес-клуб «DDX»
                            li
                                +img('right-arrow.svg')
                                span Банный комплекс «Наши бани»
                    .base__item.base__item-small
                        +img('base-small-1.jpg')
                        +img('base-small-2.jpg')
                    .base__item.base__item-big
                        +img('base-big.jpg')










    //section.shops
    //    .shops__inner
    //        .shops__top
    //            .shops__title.section-title Магазины
    //    .shops__slider.swiper
    //        .swiper-wrapper
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //            .swiper-slide
    //                .shops__image
    //                    +img('1.jpg')
    //
    //
    //
    //